.content-form {
    background-color: rgba(0, 235, 208, 1);
}
.title-form {
    color: rgba(59, 59, 59, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.button-form {
    background-color: #fafa30;
    padding: 0.4rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-weight: 800;
    color: #465eff;
    width: 100%;
}
.sub-form {
    font-size: 36px;
    color: rgba(59, 59, 59, 1);
    line-height: 38px;
    font-weight: 800;
}
.text-end-form{
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}
select {
   
    background-image: url(../../assets/images/icone-button.png), -webkit-linear-gradient( top, #FFFFFF, #FFFFFF); /* For Chrome and Safari */
    
    background-position: center right;
    background-repeat: no-repeat;
    appearance: none;
    border: 1px solid rgba(205, 205, 205, 1);

}
input{
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 4px
}
textarea{
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 4px
}
.underline-amarelo-form{
    border-bottom: 9px solid #FCFC30;
    display: inline-block;
    line-height: .85;
    padding-right: 3px;
    padding-left: 3px;
    height: 33px;

    @screen md {
        border-bottom: 13px solid #FCFC30;
        height: 36px;
    }
}