.content-amarelo {
    background-color: rgba(252, 252, 48, 1);
    display: flex;
    justify-content: end;
}

.como-participar-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    color: rgba(70, 94, 255, 1);
}

.circulo-border {
    border-left: 2px solid #83ffea;
    height: 70%;
}

@screen md {
    .circulo-border {
        border-bottom: 2px solid #83ffea;
        border-left: 0;
        height: 0;
    }
}

.como-participar-button {
    background-color: rgba(250, 250, 48, 1);
    padding: 0.4rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-weight: 800;
    color: rgba(70, 94, 255, 1);
    width: 100%;
}

.title-main-amarelo {
    font-size: 26px;
    font-weight: 800;
    line-height: 28px;
    color: rgba(59, 59, 59, 1);
}

@screen md {
    .title-main-amarelo {
        font-size: 36px;
        line-height: 40px;
        
    }
}