.button-header {
    background-color: rgba(0, 235, 208, 1);
    text-align: center;
    font-size: 14px;
    line-height: 1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}
.content-header {
    background-color: rgba(252, 252, 48, 1);
}
.header-link {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(70, 94, 255, 1);
}
