.entenda-melhor-title {
    font-size: 26px;
    line-height: 28px;
    font-weight: 800;
    color: rgba(59, 59, 59, 1);
}

@screen md {
    .entenda-melhor-title {
        font-size: 35px;
        line-height: 38px;

    }
}

.content-faq {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.entenda-melhor-button {
    background-color: #fafa30;
    padding: 0.4rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-weight: 800;
    color: #465eff;
    width: 100%;
}

.underline-amarelo {
    border-bottom: 9px solid #FCFC30;
    display: inline-block;
    line-height: .85;
    padding-right: 3px;
    padding-left: 3px;
    height: 25px;

    @screen md {
        border-bottom: 13px solid #FCFC30;
        height: 34px;
    }
}