.content-footer {
    background-color: rgba(252, 252, 48, 1);
}

.text-footer {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}
.link-footer {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #465eff;
    text-decoration: underline;
}
