.height-banner1 {
    height: 751px;
    .banner-title {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
    }
    .banner-text {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
    }
}
.triangulo-banner {
    background-color: rgba(70, 94, 255, 1);
    height: 120%;
    width: 50%;
    border-radius: 50%;
}
